<md-card >
  <md-card-content>

    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Initialisation du compte</span>
      </md-card-title-text>
    </md-card-title>

    <div class="row">
      <div class="col-md-4" style="text-align: center;">
        <img src="images/dislike.png" alt="J'aime pas" ng-click="dislike()" style="width: 40%; height: 40%; margin-top: 33%;"/>
      </div>
      <div class="col-md-4" style="">
        <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
        <img src="{{albumFolder}}">
        <audio src="{{preview_url}}" ng-show="displayPlayer" autoplay audiplayer controls/>
      </div>
      <div class="col-md-4" style="text-align: center;">
        <img src="images/like.png" alt="J'aime pas" ng-click="like()" style="width: 40%; height: 40%; margin-top: 33%;"/>      </div>
    </div>
    <div class="row">
      <div class="col-md-12"  style="text-align: center;">
        <strong>Artiste :</strong> {{song.artist}}<br>
        <strong>Titre :</strong> {{song.title}}<br>
        <strong>Album :</strong> {{albumName}}<br>
        <strong>Tags :</strong> {{mesTags}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" style="text-align: center;">
      </div>
      <div class="col-md-4" style="text-align: center;">
        <img src="images/valide.png" alt="J'aime pas" ng-click="calculateClusters($event)" style="width: 40%"/>
      </div>
      <div class="col-md-4" style="text-align: center;">

      </div>

    </div>
  </md-card-content>
</md-card>
