<section ng-controller="AccountCtrl">

  <md-card >
    <md-card-title>

      <md-card-title-text>
        <span class="md-headline">Informations du compte</span>
      </md-card-title-text>

    </md-card-title>

    <md-card-content>
      <div>
        {{memberinfo}}
      </div>
    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">

      <md-button class="md-raised md-primary" ng-click="logout()">Se déconnecter</md-button>
      <md-button class="md-raised md-primary" ng-click="getInfo()">Récupérer les informations du comptes</md-button>
    </md-card-actions>

  </md-card>

</section>
