<section>

  <md-card >
    <md-card-title>

      <md-card-title-text>
        <span class="md-headline">Connexion</span>
      </md-card-title-text>

    </md-card-title>

    <md-card-content>

      <form class="form-horizontal" >
        <!-- Username -->
        <div>
          <md-input-container class="md-block">
            <label>E-mail</label>
            <input ng-model="user.mail" enter-key-press="login()">
          </md-input-container>
        </div>
        <!-- Name -->
        <div>
          <md-input-container class="md-block">
            <label>Mot de passe</label>
            <input type="password" ng-model="user.password" enter-key-press="login()">
          </md-input-container>
        </div>

        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" ng-click="login()">Se connecter</md-button>
          <md-button class="md-raised md-primary" ng-href="#/register">S'enregistrer</md-button>
        </md-card-actions>
        <flash-message duration="5000"></flash-message>

      </form>

    </md-card-content>
  </md-card>
</section>
