<section ng-controller="ConnectionCtrl">

  <md-card >
    <md-card-title>

      <md-card-title-text>
        <span class="md-headline">Connexion</span>
      </md-card-title-text>

    </md-card-title>

    <md-card-content>

      <form class="form-horizontal" >
        <!-- Username -->
        <div>
          <md-input-container class="md-block">
            <label>Username</label>
            <input ng-model="user.username">
          </md-input-container>
        </div>
        <!-- Name -->
        <div>
          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" ng-model="user.password">
          </md-input-container>
        </div>
      </form>

    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">

      <md-button class="md-raised" ui-sref="users">Annuler</md-button>
      <md-button class="md-raised md-primary" ng-click="login()">Se connecter</md-button>
      <md-button class="md-raised md-primary" ng-href="#/register"> Register </md-button>
    </md-card-actions>
    {{loginResult}}
  </md-card>

</section>
