<md-card >
  <md-card-content>

    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Equipe PWIL</span>
      </md-card-title-text>
    </md-card-title>
    <ul>

      <li> ALLERON Florian
        <div >
          <img src="images/m.png" style="width: 2.5%;display:inline-block;"/>
          <strong> alleron.florian@gmail.com</strong>
        </div><br/>

      </li>

        <li> ANGLADE Christophe
          <div>
            <img src="images/m.png" style="width: 2.5%;display:inline-block;"/>
            <strong> christophe.anglade@hotmail.fr</strong>
          </div><br/>

        </li>

      <li> BACHRAOUI Zeineb
        <div>
          <img src="images/m.png" style="width: 2.5%;display:inline-block;"/>
          <strong> zeineb.bachraoui@gmail.com</strong>
        </div><br/>

      </li>

      
        <li> BALTHAZAR Ghislain
          <div>
            <img src="images/m.png" style="width: 2.5%;display:inline-block;"/>
            <strong> ghislain.balthazar79@gmail.com</strong>
          </div><br/>

        </li>




        <li> BOBO Robin
          <div>
            <img src="images/m.png" style="width: 2.5%;display:inline-block;"/>
            <strong> robin.bobo1993@gmail.com</strong>
          </div><br/>

        </li>




        <li> REDER Thibauld
          <div>
            <img src="images/m.png" style="width: 2.5%;display:inline-block;"/>
            <strong> thibauld.reder@gmail.com</strong>
          </div><br/>

        </li>




    </ul>
  </md-card-content>
</md-card>
