<div class="col-md-9" style="text-align: center;">
  <md-card >
    <md-card-content>

      <div class="row">

        <div class="col-md-12" style="text-align: center;">

          <h2><strong><font color="#256891">{{song.artist}}</font></strong><br></h2>
          <h3><strong>{{song.title}}</strong><br></h3>
          <h4>Album : <i>{{albumName}}</i><br></h4>

        </div>
      </div>

      <div class="row">
        <div class="col-md-3" style="text-align: center;">
        </div>
        <div class="col-md-3">
          <br>
          <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
          <img src="{{albumFolder}}">
          <audio src="{{preview_url}}" ng-show="displayPlayer" autoplay audiplayer controls/>
        </div>
        <div class="col-md-3 col-centered" style="">
        </div>
        <div class="col-md-3" style="text-align: center;">
        </div>
      </div>
      <div class="row">

        <div class="col-md-3" style="text-align: center;">
        </div>
        <div class="col-md-6" style="text-align: center;">
          <img src="images/dislike.png" alt="J'aime pas" ng-click="dislike()" style="width: 30%"/>
          <img src="images/next.png" alt="J'aime pas" ng-click="nextsong()" style="width: 30%"/>
          <img src="images/like.png" ng-click="like()" alt="J'aime" style="width: 30%"/><br>
        </div>
        <div class="col-md-3" style="text-align: center;">
        </div>
      </div>
      <div class="row" style="text-align: center;">
        <div id="alltags">
          <div id="fond">
            <div id="contenu0">{{mesTags[0]}}</div>
            <div id="contenu1">{{mesTags[1]}}</div>
            <div id="contenu2">{{mesTags[2]}}</div>
            <div id="contenu3">{{mesTags[3]}}</div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-10" style="text-align: center;">
        </div>
        <div class="col-md-2" style="text-align: center;">
          <img src="images/random.png" alt="J'aime pas" ng-click="diversSong()" style="width: 90%"/>
        </div>
        <div class="col-md-4" style="text-align: center;">
        </div>
      </div>

    </md-card-content>
  </md-card>
</div>

<div class="col-md-3" style="">
  <strong><p style="text-align: center">Historique</p></strong>
  <md-card>
    <md-card-content>
      <md-content>
        <md-list>
          <md-list-item class="md-1-line" ng-repeat="histo in historique">
            <div class="md-list-item-text" >
              <div class="row">
                <h7><strong>{{histo[1]}}</strong></h7>
              </div>
              <div class="row">
                <h7>{{histo[0]}}</h7>
              </div>
              <div class="row">
              </div>
            </div>
            <md-divider inset=""></md-divider>
          </md-list-item>
        </md-list>
      </md-content>

    </md-card-content>
  </md-card>

</div>
