<md-card >
  <md-card-content>

    <div class="row">

      <div class="col-md-4" style="text-align: center;">
      </div>
      <div class="col-md-4" style="text-align: center;">
        <md-card >
          <md-card-content>
            <div align=center>
              <h5>
                <strong>Artiste :</strong> {{song.artist}}<br>
                <strong>Titre :</strong> {{song.title}}<br>
                <strong>Album :</strong> {{albumName}}<br>
              </h5>
            </div>
            </md-card-content>
          </md-card>
      </div>
      <div class="col-md-4" style="text-align: center;">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" style="text-align: center;">
      </div>
      <div class="col-md-4" style="">
        <br>
        <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
        <img src="{{albumFolder}}">
        <audio src="{{preview_url}}" ng-show="displayPlayer" autoplay audiplayer controls/>
      </div>
      <div class="col-md-4" style="text-align: center;">
      </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="text-align: center;">
        </div>
        <div class="col-md-4" style="text-align: center;">
          <img src="images/dislike.png" alt="J'aime pas" ng-click="dislike()" style="width: 30%"/>
          <img src="images/next.png" alt="J'aime pas" ng-click="nextsong()" style="width: 30%"/>
          <img src="images/like.png" ng-click="like()" alt="J'aime" style="width: 30%"/><br>
        </div>
        <div class="col-md-4" style="text-align: center;">
        </div>
    </div>
    <div class="row">

      <div class="col-md-4" style="text-align: center;">
      </div>
      <div class="col-md-4" style="text-align: center;">
        <strong>Tags :</strong> {{mesTags}}
      </div>
      <div class="col-md-4" style="text-align: center;">
      </div>
    </div>
    <div class="row">

      <div class="col-md-4" style="text-align: center;">
      </div>
      <div class="col-md-4" style="text-align: center;">
      </div>
      <div class="col-md-4" style="text-align: center;">
        <img src="images/random.png" alt="J'aime pas" ng-click="diversSong()" style="width: 30%"/>
      </div>
    </div>

  </md-card-content>
</md-card>
