<md-card ng-controller="RegisterCtrl">
  <md-card-title>

    <md-card-title-text>
      <span class="md-headline">Création d'un nouvel utilisateur</span>
    </md-card-title-text>

  </md-card-title>

  <md-card-content>

    <form class="form-horizontal" >
      <!-- Username -->
      <div>
        <md-input-container class="md-block">
          <label>Prenom</label>
          <input ng-model="user.firstname">
        </md-input-container>
      </div>
      <!-- Name -->
      <div>
        <md-input-container class="md-block">
          <label>Nom</label>
          <input ng-model="user.lastname">
        </md-input-container>
      </div>

      <div>
        <md-input-container class="md-block">
          <label>E-mail</label>
          <input ng-model="user.mail">
        </md-input-container>
      </div>

      <div>
        <md-input-container class="md-block">
          <label>Mot de passe</label>
          <input type="password" ng-model="user.password">
        </md-input-container>
      </div>

      <div>
        <md-input-container class="md-block">
          <label>Confirmer le mot de passe</label>
          <input type="password" ng-model="user.confirmpassword">
        </md-input-container>
      </div>

      <div>
        <md-input-container class="md-block">
          <label>Pseudonyme</label>
          <input ng-model="user.username">
        </md-input-container>
      </div>

      <div>
        <md-datepicker class="md-block" ng-model="user.birthdate">
          <label>Date de naissance</label>
        </md-datepicker>
      </div>
    </form>
    {{registerResult}}
  </md-card-content>

  <md-card-actions layout="row" layout-align="end center">

    <md-button class="md-raised" ui-sref="users">Annuler</md-button>
    <md-button class="md-raised md-primary" ng-click="signup()">Créer compte</md-button>

  </md-card-actions>
</md-card>
