<md-card ng-controller="RegisterCtrl">
  <md-card-title>

    <md-card-title-text>
      <span class="md-headline">Création d'un nouvel utilisateur</span>
    </md-card-title-text>

  </md-card-title>

  <md-card-content>

    <form  name="userForm">
      <!-- Username -->
      <div class="form-group">
        <md-input-container class="md-block">
          <label>Prenom</label>
          <input name="firstname" ng-model="user.firstname" enter-key-press="signup()" required>
        </md-input-container>
        <div ng-messages="userForm.firstname.$error">
          <div ng-messages-include="error-messages"></div>
        </div>
     </div>
     <!-- Name -->
      <div>
        <md-input-container class="md-block">
          <label>Nom</label>
          <input ng-model="user.lastname" enter-key-press="signup()">
        </md-input-container>
        <div ng-messages="userForm.email.$error">
          <div ng-messages-include="error-messages"></div>
        </div>
      </div>

      <div>
        <md-input-container class="md-block">
          <label>E-mail</label>
          <input name="email" type="email" ng-model="user.mail" enter-key-press="signup()">
        </md-input-container>
      </div>

      <div>
        <md-input-container class="md-block">
          <label>Mot de passe</label>
          <input type="password" ng-model="user.password" enter-key-press="signup()">
        </md-input-container>
      </div>

      <div>
        <md-input-container class="md-block">
          <label>Confirmer le mot de passe</label>
          <input name="confirmPassword" type="password" ng-model="user.confirmpassword" compare-to="user.password" enter-key-press="signup()">
        </md-input-container>
        <div ng-messages="userForm.confirmPassword.$error">
          <div ng-messages-include="error-messages"></div>
        </div>
      </div>
      </div>

      <div>
        <md-input-container class="md-block">
          <label>Pseudonyme</label>
          <input ng-model="user.username" enter-key-press="signup()">
        </md-input-container>
      </div>

      <div>
          <label style="color:#b0b0b0">Date de naissance</label>

        <div id="date" class="datefield">
          <input id="day" ng-model="birthdate.day" type="tel" maxlength="2" placeholder="jj" enter-key-press="signup()"/> /
          <input id="month" ng-model="birthdate.month" type="tel" maxlength="2" placeholder="mm" enter-key-press="signup()"/> /
          <input id="year" ng-model="birthdate.year" type="tel" maxlength="4" placeholder="aaaa" enter-key-press="signup()"/>
        </div>
      </div>
    </form>
    {{registerResult}}
  </md-card-content>

  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-raised md-primary" ng-click="signup()">Créer compte</md-button>
  </md-card-actions>
</md-card>
